<p style="color: green"><%= notice %></p>


<div class="d-flex align-items-center col-9 mb-4">
  <h4 class="me-3"><b>Tweets</b></h4> 

  <span class="ml-auto col-12">

   <%= form_with url: "/search", method: :get, html: {class: "form-inline my-2 my-lg-0 border border-2 d-flex"} do |form| %>
      <%= form.text_field :query_text, placeholder: 'Search sin gema, ingresar ej: Nirvana', class: 'form-control mr-sm-2', name:  'q' %>
      <%= form.submit 'Search', class: 'btn btn-inline-success my-2 my-sm-0' %>
   <% end %>

  </span>
</div>








<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
  <%=raw pagy_nav(@pagy) %>
</div>

<%= link_to "New tweet", new_tweet_path, class:"btn btn-outline-primary my-3" %>
